import React from "react";

class <%= componentName %> extends React.Component {
  constructor(props){
    super(props);
  }

  render(){
    return <div>statefulComponent</div>;
  }
}

<%= componentName %>.propTypes = {};
export default <%- componentName %>;
