import * as React from "react";
import { ComponentFactory } from "logsign-base-app";
// todo create ProfileFormModule module
import { <%= componentName %> } from "src/moduleNames";

const <%= componentName %>Connected = () => {
  return <div>content</div>;
};

export default ComponentFactory(<%= componentName %>Connected, {
  moduleName: <%= componentName %>,
  signals: {}
});
